body{
    padding: 0px;
    margin: 0px;
}

.principal{
    margin: 40px 15px;
    text-align: center;
}

.linhacinza{
    /*background-color: rgb(235,236,237);*/
    background-color: #c6c8ca;
}

.upload-arquivo{
    cursor: pointer;
}
